* {
    padding: 0;
    margin: 0;
    }
    
html {
    box-sizing: border-box;
    }
    *, *::before, *::after {
    box-sizing: inherit;
    }

img{
    width: 270px;
    height: 20%;
    padding: 5px;
}