.post .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}

.Comments .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}

span {
    font-weight: bold;
}